table{
    text-align: left;
    color:blueviolet;  
    border-collapse: collapse ;
}

table td , table th{
    border: 2px solid blueviolet;
    padding: 10px;
    min-width: 60px;
}
img{
    width: 100px;
}

.adjust-update{
    margin-left: 15px;
}